* {
    <--border: 1px red solid;-->
    box-sizing: border-box;
}

body {
    justify-content: center;
    display: flex;
    background-color: rgb(255, 255, 255);
    margin: 0%;
    < !-- background-image: url("resources/cool.jpg");
    -->
}

.container {
    padding: 20px 50px 20px 50px;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.842);
    height: 100vh;
    <-- overflow: scroll;
    -->
}

.header {
    font: bold;

}


p {
    font-weight: bold;
    font-size: large;
    max-width: 500px;

}

.applybutton {
    display: inline-block;
    justify-content: center;
    text-align: center;
}

button {
    justify-content: center;
    text-align: center;
    height: 50px;
    width: 200px;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    margin-top: 50px;
}